<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    </link>
</head>

<body>

    <div class="main-content">
        {{>header}}
        {{errorMessage}}
    </div>

    {{>footer}}
</body>

</html>