<!DOCTYPE html>

<html>

<head>
    <title> About Page</title>
    <link rel="stylesheet" href="/css/style.css">
    </link>
</head>

<body>
    <div class="main-content">
        {{>header}}
        
        <p>created by : {{name}}</p>
        <img class="potrait" src="/img/DSC_0006.jpg">
    </div>

    {{>footer}}
</body>

</html>